<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
<div class="text-center">
<app-header></app-header>
<p>
  Merci d’avoir commandé !
  <br>
  <button class="btn btn-default" routerLink="/accueil">Accueil</button>
</p>

<button class="btn btn-default" routerLink="/formulaire">Creez votre pizza</button>
<button class="btn btn-default" routerLink="/carte">Commander à la carte</button>
<app-footer></app-footer>
</div>
